.intro p {
  line-height: 1.7;
  color: #0E5259;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  margin-left: 5px;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: #328C83;
  font-size: 18px;
}

h1 {
    text-align: center;
}